{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choosing difficulty
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Instructions:</h5>
            Click on the arc length which you prefer:
        </div>
    </div>
    <div id="p5cont"></div>
    <input type="hidden" name="difficulty" value="0" id="id_difficulty"/>


{% endblock %}
{% block scripts %}
    <script src="{% static 'js/p5.js' %}"></script>
    <script src="{% static 'js/difficulty.js' %}"></script>

{% endblock %}