{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Task
{% endblock %}

{% block content %}
    {{ form.task.errors }}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Instructions:</h5>
            To win click anywhere on the green field while it is in within the arc
        </div>
    </div>
    <div id="p5cont"></div>
    <input type="hidden" name="task" value="False" id="id_task" name="task"/>
    {% next_button %}

{% endblock %}
{% block scripts %}
    <script>
    let end_angle={{ player.difficulty }};
    </script>
            <script src="{% static 'js/dist/train.js' %}"></script>

{% endblock %}